after_success:
    - composer require satooshi/php-coveralls
    - travis_ci php vendors/bin/coveralls -x coverage.xml

branches:
    only:
        - master

git:
    depth: 1

install:
    - composer install

language: php

matrix:

    allow_failures:
        - php: nightly
        - php: hhvm-nightly

    fast_finish: true

    include:
        - php: 5.6
        - php: 7.0
        - php: nightly
        - php: hhvm-3.12
          sudo: required
          dist: trusty
          group: edge
        - php: hhvm-nightly
          sudo: required
          dist: trusty
          group: edge

script: phpunit --coverage-clover coverage.xml

sudo: false
